[user]
	name = Diga Widyaprana
	email = digawp@gmail.com
[core]
	autocrlf = input
[push]
	default = simple
[alias]
	co = checkout
	lol = log --oneline
	st = status
	pick = cherry-pick
    push-fwl = push --force-with-lease
